/* src/components/ProductForm.css */
.product-form {
  background-color: var(--card-background-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border: 1px solid var(--card-border-color);
  transition: background-color 0.3s ease, border-color 0.3s ease,
    box-shadow 0.3s ease;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--text-color);
  font-size: 0.95em;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group textarea,
.form-group input[type="url"] {
  /* Adicionado o seletor para input[type="url"] */
  width: calc(100% - 12px);
  padding: 8px;
  border: 1px solid #ccc; /* Cor fixa, pode ser alterada com variável se necessário */
  border-radius: 4px;
  font-size: 0.9em;
  background-color: var(--background-color); /* Adapta o fundo dos inputs */
  color: var(--text-color); /* Adapta a cor do texto nos inputs */
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}

.form-group textarea {
  resize: vertical;
  min-height: 80px;
}

.form-actions {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.button {
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  font-size: 0.9em;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.submit-button {
  background-color: var(--primary-color);
  color: white;
}

.submit-button:hover {
  background-color: var(--primary-hover-color);
}

.cancel-button {
  background-color: var(--secondary-color);
  color: white;
}

.cancel-button:hover {
  background-color: var(--secondary-hover-color);
}
