/* src/styles.css */
:root {
  /* Cores do tema claro (padrão) */
  --background-color: #f0f0f0;
  --text-color: #333;
  --primary-color: #007bff;
  --primary-hover-color: #0056b3;
  --secondary-color: #6c757d;
  --secondary-hover-color: #545b62;
  --card-background-color: #fff;
  --card-border-color: #ddd;
  --background-image: url("/assets/light-background.jpg"); /* Caminho para a imagem clara */
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease,
    background-image 0.3s ease; /* Adicionando transição para a imagem */
  background-image: var(--background-image);
  background-size: cover; /* Cobrir todo o fundo */
  background-repeat: no-repeat;
  background-attachment: fixed; /* Manter a imagem fixa durante a rolagem */
}

.container {
  max-width: 960px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--card-background-color);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transição suave */
}

.button {
  padding: 8px 12px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  font-size: 0.85em;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave */
}

.edit-button {
  background-color: var(--primary-color);
  color: white;
}

.edit-button:hover {
  background-color: var(--primary-hover-color);
}

.delete-button {
  background-color: #dc3545; /* Cor fixa, pode ser alterada se necessário */
  color: white;
}

.delete-button:hover {
  background-color: #c82333; /* Cor fixa */
}

.submit-button {
  background-color: var(--primary-color);
  color: white;
}

.submit-button:hover {
  background-color: var(--primary-hover-color);
}

.cancel-button {
  background-color: var(--secondary-color);
  color: white;
}

.cancel-button:hover {
  background-color: var(--secondary-hover-color);
}

/* Tema escuro */
body.dark-theme {
  --background-color: #121212;
  --text-color: #f5f5f5;
  --primary-color: #bb86fc;
  --primary-hover-color: #6200ee;
  --secondary-color: #37474f;
  --secondary-hover-color: #263238;
  --card-background-color: #1e1e1e;
  --card-border-color: #333;
  --background-image: url("/assets/dark-background.jpg"); /* Caminho para a imagem escura */
}
